body {
  font-family: Work Sans;
  text-align: center;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*navtab styling*/
.nav-container{
  display: flex;
  justify-content: space-between;
  font-family: Work Sans;
  text-align: center;
  background-color: rgb(7, 92, 92);
  color: rgb(223, 116, 77);
}

.nav-container h1 {
  font-size: 1.8rem;
  margin-top: 2.5%;
}
.nav-bar {
  display: flex;
  margin-top: 3%;
}

.nav-bar li {
  padding: 0 1rem;
  list-style-type: none;
}

.nav-bar li a {
  font-size: 1.2rem;
  font-weight: 500;
}

/*footer styling*/
.footer {
  padding: 1 rem 0;
  background-color: rgb(7, 92, 92);
  margin-top: 50%;
}

.social {
  display: flex;
  margin-left: 50%;
}

.copyright {
  display: flex;
  margin-left: 50%;
  margin-top: 1%;
  color: rgb(223, 116, 77);
}
