body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container{
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  margin-top: 1%;
}

.nav-bar li {
  padding: 0 1rem;
}

.nav-bar li a {
  font-size: 1.2rem;
  font-weight: 500;
}