body {
  font-family: Work Sans;
  text-align: center;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*navtab styling*/
.nav-container{
  display: flex;
  justify-content: space-between;
  font-family: Work Sans;
  text-align: center;
  background-color: rgb(7, 92, 92);
  color: rgb(223, 116, 77);
}

.nav-container h1 {
  font-size: 1.8rem;
  margin-top: 2.5%;
}
.nav-bar {
  display: flex;
  margin-top: 3%;
}

.nav-bar li {
  padding: 0 1rem;
  list-style-type: none;
}

.nav-bar li a {
  font-size: 1.2rem;
  font-weight: 500;
}

/*footer styling*/
.footer {
  padding: 1 rem 0;
  background-color: rgb(7, 92, 92);

}

.social {
  display: flex;
  margin-left: 50%;
}

.copyright {
  display: flex;
  margin-left: 50%;
  margin-top: 1%;
  color: rgb(223, 116, 77);
}

/*styling about*/
.about {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  height: 100;
  background-color: rgb(223, 116, 77);
  color: rgb(7, 92, 92);
  
}

.about .left {
  text-align: left;
  margin-left: 20%;
  padding: 1 rem;
  max-width: 350px;
}

.about h1 {
  font-size: 60px;
  color: bisque;
}
.about .left p {
  margin: 1.2rem 0;
  font-size: 150%;
}

.about .right {
  max-width: 250px;
}

.right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  text-align: center;
}

.right .img {
  width: 120%;
  border: 1px solid rgb(223, 116, 77);
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 5;
  margin-right: 30%;
}

/*styling contact form*/
.contact-box {
  background-color: rgb(223, 116, 77);
}

.contact-hero h1 {
  color: bisque;
  margin-left: 30%;
}

.contact-hero p{
  color: bisque;
  margin-left: 30%;
  font-size: 120%;
 
}


label{
  color: bisque;
  margin-bottom: 0.2rem;
}

form{
  display: flex;
  flex-direction: column;
  padding: 4rem 1 rem;
  margin: auto;
  max-width: 600px;

}

form input, form textarea{
  margin-bottom: 1rem;
  padding: 10px, 18px;
  font-size: 1.2rem;
  background-color: rgb(7, 92, 92);
  color:bisque;
}

form .btn {
  background-color: rgb(7, 92, 92);
  color: bisque;
}

/*styling portfolio*/
.work-container {
  background-color: rgb(223, 116, 77);
}
.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
  color: bisque;
}

.project-card{
  margin-left: 25%;
}
.project-card img {
  width: 70%;
}

.project-title {
  color: bisque;
  padding: 1rem 0;
  font-size: 120%;
}
.project-details p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
  font-size: 100%;
  color: bisque;
}

.pro-btns {
  display: inline-block;
  justify-content: space-between;
  padding: 0.5rem;
  
}

.pro-btns .btn {
  background-color: rgb(7, 92, 92);
  color: bisque;
}


